nav{
    background-color: black;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

nav ul li a:hover{
    color: yellow;
}