.table-div{
    background-color: #1e1e1e;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-x: scroll; */

}

.table{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    
}
.table tr th {
    font-size: 24px;
    border: 1px solid white;
    padding: 5px;
}

.table tr td{
    font-size: 20px;
    border: 1px solid white;
    padding: 5px;
}

.img{
    width: 100px;
}

.delete{
    padding: 4px 6px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}